body{
    max-width:1920px;
    width:100%;
}
.header-one, .header-one ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    margin-left:50px;
    font-size:20px;
    color:#707070;
    font-family: ArchyEDT;
}
.container{
    max-width:1920px;
    width:100%;
    margin:0 auto;
}
header{
    position: fixed;
    z-index:1;
    top:0;
    max-width:1920px;
    width:100%;
    padding:56px 140px;
}
.logo{
    width:122px;
}
.navbar{
    margin-left:30%;
}
.search{
    width:25.5px;
    height: 25.5px;
}
.slider{
    margin-top:207px;
    display: flex;
    justify-content: center;
}
.slider1{
    max-width:1640px;
    width:100%;
}
.slider2{
    max-width: 1024px;
    width:100%;
}
/* end of header and first section */
.last-articles{ 
    max-width:1641px;
    width:100%;
    margin:auto;
    margin-top:138px; 
}
.last-articles h2{
    margin-bottom: 70px;
    color:#707070;
    font-size: 40px;
    font-family: ArchyEDT;
    text-shadow: 1px 1px #707070;
}
.popular, .last-articles{
    display: flex;
    flex-wrap: wrap;
}
.article-box{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    max-width:483px;
    margin-right:5%;
    position: relative;
}
.article-box:last-child{
    margin-right:0;
}
.article-box img{
    max-width:483px;
    width:100%;
}
.article-box h3{
    width:282px;
    margin:20px 189px 33px 12px;
    color:#707070;
    font-size: 30px;
    font-family: ArchyEDT;
    
}
.text{
    max-width:446px;
    color:#707070;
    font-size: 18px;
    height:48px;
    font-family: Zapf Dingbats;
    margin-bottom:73px;
    margin-left:12px;
    
}
.article-box a{
    display: block;
    position:absolute;
    right:13px;
    bottom:35px;
    color:#707070;
    font-size: 24px;
    font-family: ArchyEDT;
    width:56px;
}
.load-more{
    max-width:145px;
    border-bottom: 1px solid #707070;
    color:#707070;
    font-size: 30px;
    font-family: ArchyEDT;
    margin:56px auto;
}
/* end of sections */
footer{
    max-width:1920px;
    width:100%;
    min-height: 207px;
    background-color: #2E2E2E;
    padding:56px 140px;
}
.footer-last{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   
}
.contact{
    width:124px;
    height:61px;
}
.contact h6{
    color:#F2F2F2;
    font-size: 20px;
    font-family: ArchyEDT;
}
.contact a{
    display: block;
    color:#F2F2F2;
    font-size: 13px;
    font-family: ArchyEDT;
}
.address{
    width:240px;
    height:43px;
}
.address h6{
    font-size: 19px;
    color: #FFFFFF;
    font-family: ArchyEDT;
}
.address a{
    font-size: 13px;
    color: #FFFFFF;
    font-family: ArchyEDT;
}
.info {
    width:122px;
    display: flex;
    justify-content: space-between;
}
.info img{
    width:43.95px;
}

@media(min-width:1024px){
    .slider2{
        display: none;
    }
}
@media(max-width:1366px){
    .aricle-box{
        transform: scale(0.8);
    }
}
@media (max-width:1024px){
    .navbar, .slider1{
        display: none;
    }
    header{
        padding: 50px;
    }
    .slider2{
        display: block;
        margin-bottom:90px;
    }
    .articles{
        margin-top:0;
    }
    .article-box{
        margin: 0 auto;
        margin-top:32.4px;
        width:100%;
        justify-content: center;
    }
    .article-box:last-child{
        display: none;
    }
    .articles h2{
        text-align: center;
        font-size:30px;
        margin-bottom:31px;
    }
    .article-box h3{
        font-size:20px;
    }
    .article-box p{
        font-size:14px;
    }
    .footer-box{
        height:241px;
        margin-bottom:0;
        justify-content: center;
        text-align: center;
    }
    footer .logo{
        display: none;
    }
    .load-more{
        margin:16px auto;
    }
    .icons {
        width:50px;
    }
    .icons img{
        width:16px;
    }
    .address{
        order:-1;
    }
}